<?xml version='1.0' encoding='utf-8'?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core
	http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
	http://www.mulesoft.org/schema/mule/email
	http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
	http://www.mulesoft.org/schema/mule/tls
	http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
	http://www.mulesoft.org/schema/mule/core
	http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/http
	http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
	http://www.mulesoft.org/schema/mule/db
	http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

	<db:config name="Database_Config_B" doc:name="Database Config">
		<db:my-sql-connection database="${db.b.databasename}" 
			host="${db.b.host}" 
			password="${db.b.password}" 
			port="${db.b.port}" 
			user="${db.b.user}" />
	</db:config>

	<http:listener-config name="HTTP_Listener_config" 
			doc:name="HTTP Listener config">
		<http:listener-connection 
			host="0.0.0.0" 
			port="${http.port}" />
	</http:listener-config>

	<email:smtp-config name="Email_SMTPS" doc:name="Email SMTP">
		<email:smtps-connection host="${smtp.host}" 
			password="${smtp.password}" 
			port="${smtp.port}" 
			tlsContext="TLS_Context" 
			user="${smtp.user}" />
	</email:smtp-config>
	<tls:context name="TLS_Context" doc:name="TLS Context">
		<tls:trust-store insecure="true" />
	</tls:context>
	<configuration-properties file="common.properties" 
			doc:name="Configuration properties" />
	<configuration-properties file="mule.${mule.env}.properties" 
			doc:name="Configuration properties" />
	<configuration-properties file="mule-artifact.properties" 
			doc:name="Configuration properties" />
	<db:config name="Database_Config_A"  doc:name="Database Config">
		<db:my-sql-connection 
			database="${db.a.databasename}" 
			host="${db.a.host}" 
			password="${db.a.password}" 
			port="${db.a.port}" 
			user="${db.a.user}" />
	</db:config>

	<global-property doc:name="Global Property" 
			 name="mule.env" 
			 value="dev" />
</mule>
